language: php

php:
  - 7.1
  - 7.2
  - 7.3

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - composer install --dev --prefer-source --no-interaction

script:
  - vendor/bin/php-cs-fixer fix --dry-run
  - vendor/bin/phpunit
